
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
   
}
body{
    background-color: #b80818;
}
/* navbar section */
 .navbar-brand img {
	width: auto;
	height: 40px;
    margin-top: 7px;
	border-radius: 50%;
}
.collapse {
	position: relative;
	top: -2px;
}
.navbar-nav {
	margin-top: 7px;
}
.navbar-nav .nav-item {
	margin-right: 15px;
}
.navbar-nav .nav-link {
	font-weight: 200;
	color: white;
	font-size: 13px;
}
.navbar-expand-lg .navbar-nav .nav-link {
	margin-left: 32px;
	margin-top: 7px;
}
.nav-link {
	margin-left: 10px !important;
}
.navbar-expand-lg .navbar-collapse {
	justify-content: left;
}
.fixed-top {
	background: #b80818;
}
nav .social-media a {
	color: #fff;
	font-size: 13px;
	top: 15px;
	position: relative;
	margin-right: 30px;
	float: right;
}
@media screen and (max-width:768px) {
	.navbar-collapse {
		position: absolute;
		background: #b80818;
		width: 100%;
		left: 0px;
		top: 65px;
		padding-left: 20px;
		padding-bottom: 70px;
	}
	.navbar-toggler {
		float: right;
		position: relative;
		top: 10px;
		font-size: 15px;
	}
	
	}



/* banner section */
.banner-section {
	margin-top: 80px;
	padding-bottom: 80px;
}
.banner-detail {
	margin-top: 15%;
}
.banner-detail h5 {
	font-size: 30px;
	margin-bottom: 15px;
	color: #ffda86;
	font-weight: 400;
	font-family: "Dancing Script", cursive;
	
}
.banner-detail h1 {
	margin-bottom: 30px;
	font-family: "Poppins", sans-serif;
	font-size: 100px;
	color: white;
	font-weight: bolder;
	line-height: 90px;
}
.banner-detail .button-1 {
	padding: 7px 20px;
	font-size: 13px;
	background: white;
	border: none;
	border-radius: 50px;
	margin-top: 15px;
	color: black;
	font-family: 'Raleway', sans-serif;
	font-weight: 500
}
.banner-detail .button-2 {
	padding: 7px 20px;
	font-size: 13px;
	border-radius: 50px;
	margin-top: 15px;
	color: black;
	background-color: #ffda86;
	border: 1px solid #ffda86;
	margin-left: 10px;
	font-family :'Raleway', sans-serif;
	font-weight: 500
}
.banner-img img {
	margin-top: 30px;
	width: 80%;
	height: auto;
	float: right;
	padding-right: 50px;
}
@media screen and (max-width: 768px) {
	.top-header {
		height: auto;
	}
	.banner-detail h5 {
		font-size: 30px;
		margin-bottom: 10px;
	}
	.banner-detail h1 {
		font-size: 75px;
		line-height: 90px;
		margin-bottom: 10px;
	}
	.banner-img img {
		height: auto;
		width: 100%;
	}
}

@media screen and (max-width: 500px) {
	.top-header {
		height: auto;
	}
	.banner-detail {
		margin-top: 15%;
	}
	.banner-detail h5 {
		font-size: 30px;
		margin-bottom: 10px;
	}
	.banner-detail h1 {
		font-size: 75px;
		line-height: 90px;
		margin-bottom: 10px;
	}
	.banner-img img {
		margin-top: 60px;
		height: auto;
		width: 100%;
	}
}


/* coupon section */

 .top-banner {
	border: 1px solid #00000024;
	padding: 30px 5px 30px 20px;
	background: #fff;
	margin-bottom: 20px;
	border-radius: 5px;
}
.top-banner img {
	width: 100%;
	margin-top: 10px;
}
.top-banner h2 {
	font-size: 18px;
	color: red;
	font-family:"Dancing Script", cursive;
}
.top-banner h3 {
	font-size: 30px;
	font-weight: 600;
	line-height: 30px;
	color: #484848;
}
.top-banner p {
	margin: 0px;
	font-size: 15px;
	color: black;
}


/* pizza menu section */
.pizza-section{
	color: #fff;
}
.pizza-section h4{
	font-size: 50px;
	font-weight: bold;
	font-family: "Poppins", sans-serif;
}
.pizza-section h6{
	font-family: "Poppins", sans-serif;
	font-size: 13px;
	font-weight: lighter;
}
.banner{
	margin: 10px 40px 1px 40px;
}
.col p{
	font-size: 10px;
}
.card-body p{
	font-size: 10px;
}

/* Other menu */
 /*******Category List Category List Category List*******/
 #section {
	text-align: center;
	margin-bottom: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
}
#section img {
	width: 50%;
}
#section h5 {
	font-weight: 500;
	margin: 0px;
	font-size: 20px;
	font-family:"Dancing Script", cursive;
	margin-bottom: 7px;
}

/* drinks section */










  
    








    


